* {
  margin: 0
}
html {
  background-color: #111
}
@import "tailwindcss";

.scrollable {
  height: 90vh;
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.scrollable::-webkit-scrollbar-track {
  background: #edf2f7; /* Color of the scrollbar track */
}